* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

.background {
  min-height: 100vh;
  width: 100vw;
}

.dashboard-main {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-box {
  font-size: 1.5rem;
  padding: 40px;
  height: 300px;
  width: 400px;
  border-radius: 40px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-auto-flow: row;
  justify-content: center;
}

.dashboard-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-message {
  display: inline;
  align-self: center;
  justify-self: center;
}

.dashboard-logout-button {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 70%;
  position: relative;
  bottom: 2px;
  box-shadow: #aaaaaa 0 2px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
