.theme-behind {
  border-radius: 50%;
  position: relative;
  z-index: 1;

  /* For reference the container has a height of 40 pixels */
  padding: 4px;
  height: 70%;
  aspect-ratio: 1 / 1;
  margin: 6px;
}
.theme-behind:hover {
  cursor: pointer;
}

.theme-icon {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
